<!DOCTYPE html>

<html>
    <body>
        <h1>Select the Book to view more Information on them</h1>
        <div class="bookdetails">
            {{#each books}}
            <br>
            <br>
            <a href="/books/{{number}}">{{bookname}}</a>
            {{/each}}
        </div>
    </body>
</html>